<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>Identifier</key>
		<string>R7A2DL1CE06M4D9SN22B</string>
		<key>Token</key>
		<string>23HGTZXEO4PE1T0HDO67NIKOHWTA3PG30ONUDZ95</string>
		<key>Host</key>
		<string>https://dupont.test.acviss.co/</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>Identifier</key>
		<string>9BE2484806A0ED370B7C</string>
		<key>Token</key>
		<string>B5589A25C67F01C7DEA452553235051DC7A7E651</string>
		<key>Host</key>
		<string>https://dupont.acviss.co/</string>
	</dict>
</dict>
</plist>
