<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>420980999381-v56meujm6uaagiq8rlhvrr8jtiklt3ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420980999381-v56meujm6uaagiq8rlhvrr8jtiklt3ld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420980999381-o4a9it07c0jo927hn660stv7nh1fls4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsVl8HKz5Fh6PxE11gHtJzQwDjf8xYMAE</string>
	<key>GCM_SENDER_ID</key>
	<string>420980999381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phi.farmerconnect</string>
	<key>PROJECT_ID</key>
	<string>pioneer-direct-sales</string>
	<key>STORAGE_BUCKET</key>
	<string>pioneer-direct-sales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:420980999381:ios:137f1973b4de97a8818e5c</string>
	<key>DATABASE_URL</key>
	<string>https://pioneer-direct-sales.firebaseio.com</string>
</dict>
</plist>
